/* app.css */

/* Main App container styles */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Header styles */
.header {
  font-size: var(--size-5);
  margin-bottom: var(--size-3);
}

/* Content styles */
.content {
  padding: var(--size-2);
}

/* Footer styles */
.footer {
  margin-top: auto;
  padding: var(--size-2);
}
