.TaskView {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  column-gap: 10px;
}

.GroupInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  padding:10px;
  row-gap: 15px;
}

.GroupInfoText {
  display: flex;
  flex-direction: column;
}

.TaskInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  padding:10px;
  row-gap: 15px;
}

.GroupInfoRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: 100%;
}

.GroupInfoButtonRow {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  column-gap: 10px;
}

.Icon:hover {
  cursor: pointer;
}